header {
    background-color: black;

}

.cabeza-titulo{
    color: azure;
}

ul.navega li{
    display: inline;
    position: relative;
    left: 68%;
    text-align: start;
    top: -40px;
}
li {
    margin: 8px;
}